@CHARSET "UTF-8";

body {
	background-color: #fefefe;;
}

.navbar {
	margin-bottom: 0px;	
	border-radius: 0px;
}

.navbar-default#navbarPrincipal {
	background-color: #021f25;
}

img#rostoEmNavbar {
	width: 100px;
	margin: 10px 10px 10px 5vw;
}

a#osvaldoCabralNav {
	color: #e6e6e6;
	font-size: 30px;
	text-decoration: none;
}

button#btnParaCelular {
	margin-top: 45px;
}

#linksMenu {
	display: absolute;
	margin-top: 30px;
	font-size: 4vh;
}

#linksMenu li a {
	font-size: 15px;
	letter-spacing: 1px;
	color: white;
	position: relative;
}

#linksMenu li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#linksMenu li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.container {
	width: auto;
}

.container .row {
	padding: 20px;
}

#objetivo {
	color: #e6e6e6;
	background-color: #393e77;
	text-align: justify;
	line-height: 25px;
}

#aprendiz, #estagio {
	color: #ff9440;
	font-size: 18px;
}

#formacao {
	text-align: justify;
	color: #808080;
}

.col-md-10 .row {
	padding: 20px 0px 0px 0px;
}

.col-md-3 .thumbnail {
	height: 340px;
	text-align: justify;
}

.col-md-3 .thumbnail img {
	width: 100px;
}

#perfil {
	background-color: #b9b8a3;
	color: #666666;
}
